#!/usr/bin/env nextflow

manifest {
  name = 'alexthiery/otic-reprogramming'
  author = 'Alex Thiery'
  homePage = 'https://github.com/alexthiery/otic-reprogramming/tree/dev/'
  description = 'Nextflow pipeline to run otic reprogramming pipeline'
  nextflowVersion = '20.07.1'
  mainScript = 'main.nf'
  defaultBranch = 'dev'
}

// Load base.config by default for all pipelines
includeConfig "$baseDir/configs/base.config"

// Load module default params
includeConfig "$baseDir/luslab-nf-modules/configs/module-defaults.config"

// Load scRNAseq alignment process params
includeConfig "$baseDir/configs/process.config"

params.verbose = false

// Create run profiles
profiles {
  crick { includeConfig "$baseDir/configs/crick.config"}
  crick_test { includeConfig "$baseDir/configs/crick_test.config"}
  local { includeConfig "$baseDir/configs/local.config"}
}

