#!/usr/bin/env nextflow

// Load params
params {
  verbose = false
  gfp_seq = "$baseDir/gfp_seq.fa"
}

// Load base.config by default for all pipelines
includeConfig "$baseDir/../configs/base.config"

// Load module default params
includeConfig "$baseDir/../luslab-nf-modules/configs/module-defaults.config"


