#!/usr/bin/env nextflow

params {
    // General
    outdir = './results'

    modules {
        'samtools_sort' {
            args             = ""
            suffix           = ".bam"
            publish_dir      = "samtools_sort"
            publish_results  = "all"
        }
        'samtools_view_a' {
            args             = "-b"
            suffix           = ".bam"
            publish_dir      = "samtools_view"
            publish_results  = "all"

        }
        'samtools_view_b' {
            args             = "-h -b -F 4 -q 10"
            suffix           = ".bam"
            publish_dir      = "samtools_view"
            publish_results  = "all"
        }
    }
}