#!/usr/bin/env nextflow

params {
    // General
    outdir = './results'

    modules {
        'cutadapt' {
            args             = "-a CTGTCTCTTATA"
            suffix           = ".trimmed"
            publish_dir      = "cutadapt"
            publish_results  = "all"
        }
        'samtools_sort' {
            args             = ""
            suffix           = ".bam"
            publish_dir      = "samtools_sort"
            publish_results  = "all"
        }
        'samtools_view_a' {
            args             = "-b -h"
            suffix           = ".bam"
            publish_dir      = "samtools_view_a"
            publish_results  = "all"

        }
        'samtools_view_b' {
            args             = "-b -h -F 4 -q 10"
            suffix           = ".filtered.bam"
            publish_dir      = "samtools_view_b"
            publish_results  = "all"
        }
    }
}