#!/usr/bin/env nextflow

params {
    // General
    outdir = './scRNAseq_alignment'

    modules {
        'cutadapt' {
            args             = "-a CTGTCTCTTATA"
            suffix           = ".trimmed"
            publish_dir      = "cutadapt"
            publish_results  = "none"
        }
        'samtools_sort' {
            args             = ""
            suffix           = ".bam"
            publish_dir      = "samtools_sort"
            publish_results  = "none"
        }
        'samtools_view_a' {
            args             = "-b -h"
            suffix           = ".bam"
            publish_dir      = "samtools_view_a"
            publish_results  = "none"

        }
        'samtools_view_b' {
            args             = "-b -h -F 4 -q 10"
            suffix           = ".filtered.bam"
            publish_dir      = "samtools_view_b"
            publish_results  = "none"
        }
        'hisat2_splice_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "hisat2"
            publish_results  = "none"
        }
        'hisat2_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "hisat2"
            publish_results  = "none"
        }
        'merge_counts' {
            publish_dir      = "mergedCounts"
            publish_results  = "all"
        }
    }
}