#!/usr/bin/env nextflow

manifest {
  name = 'alexthiery/otic-reprogramming'
  author = 'Alex Thiery'
  homePage = 'https://github.com/alexthiery/otic-reprogramming/tree/dev/workflows/scRNAseq_alignment'
  description = 'Nextflow pipeline to run smartseq2 single cell RNA-seq alignment'
  nextflowVersion = '20.07.1'
  mainScript = 'main.nf'
}

params {
    // General
    outdir = './results'

    modules {
        'samtools_sort' {
            args             = ""
            suffix           = ".bam"
            publish_dir      = "samtools_sort"
            publish_results  = "all"
        }
        'samtools_view_a' {
            args             = "-b"
            suffix           = ".bam"
            publish_dir      = "samtools_view"
            publish_results  = "all"

        }
        'samtools_view_b' {
            args             = "-h -b -F 4 -q 10"
            suffix           = ".bam"
            publish_dir      = "samtools_view"
            publish_results  = "all"
        }
    }
}


// Load base.config by default for all pipelines
includeConfig "$baseDir/../../configs/base.config"

// Load module default params
includeConfig "$baseDir/../../luslab-nf-modules/configs/module-defaults.config"

// Create run profiles
profiles {
  crick { includeConfig "$baseDir/configs/crick.config"}
  local { includeConfig "$baseDir/configs/local.config"}
}

