#!/usr/bin/env nextflow

params {
    // General
    outdir = './results'

    modules {
        'bedtools_intersect' {
            args             = "-wa"
            suffix           = "+H3K27Ac_intersected.bed"
            publish_dir      = "enhancer_analysis/bedtools_intersect"
            publish_results  = "all"
        }
        'bedtools_subtract' {
            args             = "-A"
            suffix           = "-H3K27me3_subtracted.bed"
            publish_dir      = "enhancer_analysis/bedtools_subtract"
            publish_results  = "all"
        }
        'homer_annotate_peaks' {
            args             = "-gid"
            suffix           = ".annotated.txt"
            publish_dir      = "enhancer_analysis/homer"
            publish_results  = "all"
        }
        'homer_find_motifs' {
            args             = "-size 100"
            publish_dir      = "enhancer_analysis/homer_find_motifs"
            publish_results  = "all"
        }
        'cut' {
            args             = /-f2-4/
            outfile_name     = "putative_enhancers.bed"
            publish_dir      = "enhancer_analysis/putative_enhancers"
            publish_results  = "all"
        }
        'extract_gtf_annotations' {
            publish_dir      = "extract_gtf_annotations"
            publish_results  = "all"
        }
        'lmx1a_dea' {
            publish_dir      = "lmx1a_dea"
            publish_results  = "all"
            script           = "$baseDir/bin/lmx1a_dea.R"
        }
        'sox8_dea' {
            publish_dir      = "sox8_dea"
            publish_results  = "all"
            script           = "$baseDir/bin/sox8_dea.R"
        }
        'merge_counts' {
            publish_dir      = "scRNAseq_alignment/merged_counts"
            publish_results  = "all"
            script           = "$baseDir/bin/merge_counts.R"
        }
        'enhancer_profile' {
            publish_dir      = "enhancer_analysis/enhancer_profile"
            publish_results  = "all"
            script           = "$baseDir/bin/enhancer_profile.R"
        }
        'plot_motifs' {
            publish_dir      = "enhancer_analysis/plot_motifs"
            publish_results  = "all"
            script           = "$baseDir/bin/plot_motifs.R"
        }
        'functional_enrichment_analysis' {
            publish_dir      = "enhancer_analysis/functional_enrichment_analysis"
            publish_results  = "all"
            script           = "$baseDir/bin/functional_enrichment_analysis.R"
        }
        'peak_annotations_frequency' {
            publish_dir      = "enhancer_analysis/peak_annotations_frequency"
            publish_results  = "all"
            script           = "$baseDir/bin/peak_annotations_frequency.R"
        }
        'awk_gtf_filter' {
            args             = '/gene_biotype/{print}'
            outfile_name     = "GalGal6_protein_coding.gtf"
            write_to_output  = true
            publish_dir      = ""
            publish_results  = "none"
        }
        'awk_enhancer_filter' {
            args             = /-F "\t" 'BEGIN{OFS="\t";} ($9!~\/^protein_coding-promoter-TSS .\/) && ($9!~\/^protein_coding-exon.\/) {print $0}'/
            outfile_name     = "putative_enhancers_annotated.txt"
            write_to_output  = true
            publish_dir      = "enhancer_analysis/putative_enhancers"
            publish_results  = "all"
        }
        'smartseq_analysis' {
            publish_dir      = "smartseq_analysis"
            publish_results  = "all"
            script           = "$baseDir/bin/smartseq_analysis.R"
        }
    }
}