#!/usr/bin/env nextflow

docker.enabled = true

params {
  max_memory = 16.GB
  max_cpus = 6
  max_time = 1.h

    genome = "/Users/alex/dev/repos/otic-reprogramming/testData/chr1_test/Gallus_gallus.sub.fa"
    gtf = "/Users/alex/dev/repos/otic-reprogramming/testData/chr1_test/chr1.gtf"
    smartseq2_sample_csv = "$baseDir/workflows/scRNAseq_alignment/local_sample.csv"
    peak_intersect_sample_csv = "$baseDir/workflows/peak_intersect/local_sample.csv"
}