#!/usr/bin/env nextflow

params {
    // General
    outdir = './results'

    modules {
        'cutadapt' {
            args             = "-a CTGTCTCTTATA"
            suffix           = ".trimmed"
            publish_dir      = "scRNAseq_alignment/cutadapt"
            publish_results  = "none"
        }
        'samtools_sort' {
            args             = ""
            suffix           = ".bam"
            publish_dir      = "scRNAseq_alignment/samtools_sort"
            publish_results  = "none"
        }
        'samtools_view_a' {
            args             = "-b -h"
            suffix           = ".bam"
            publish_dir      = "scRNAseq_alignment/samtools_view_a"
            publish_results  = "none"

        }
        'samtools_view_b' {
            args             = "-b -h -F 4 -q 10"
            suffix           = ".filtered.bam"
            publish_dir      = "scRNAseq_alignment/samtools_view_b"
            publish_results  = "none"
        }
        'hisat2_splice_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "scRNAseq_alignment/hisat2"
            publish_results  = "none"
        }
        'hisat2_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "scRNAseq_alignment/hisat2"
            publish_results  = "none"
        }
        'merge_counts' {
            publish_dir      = "scRNAseq_alignment/mergedCounts"
            publish_results  = "all"
            output           = "readcounts.csv"
        }
        'bedtools_intersect2' {
            args             = "-wa -wb"
            suffix           = "-ATAC_intersected.bed"
            publish_dir      = "peak_intersect/bedtools_intersect"
            publish_results  = "all"
        }
    }
}