#!/usr/bin/env nextflow

params {
    // General
    outdir = './results'

    modules {
        'cutadapt' {
            args             = "-a CTGTCTCTTATA"
            suffix           = ".trimmed"
            publish_dir      = "scRNAseq_alignment/cutadapt"
            publish_results  = "none"
        }
        'samtools_sort' {
            args             = ""
            suffix           = ".bam"
            publish_dir      = "scRNAseq_alignment/samtools_sort"
            publish_results  = "none"
        }
        'samtools_view_a' {
            args             = "-b -h"
            suffix           = ".bam"
            publish_dir      = "scRNAseq_alignment/samtools_view_a"
            publish_results  = "none"

        }
        'samtools_view_b' {
            args             = "-b -h -F 4 -q 10"
            suffix           = ".filtered.bam"
            publish_dir      = "scRNAseq_alignment/samtools_view_b"
            publish_results  = "none"
        }
        'hisat2_splice_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "scRNAseq_alignment/hisat2"
            publish_results  = "none"
        }
        'hisat2_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "scRNAseq_alignment/hisat2"
            publish_results  = "none"
        }
        'merge_counts' {
            publish_dir      = "scRNAseq_alignment/merged_counts"
            publish_results  = "all"
            output           = "readcounts.csv"
        }
        'bedtools_intersect' {
            args             = "-wa -wb"
            suffix           = "+ATAC_intersected.bed"
            publish_dir      = "peak_intersect/bedtools_intersect"
            publish_results  = "all"
        }
        'bedtools_subtract' {
            args             = "-A"
            suffix           = "-K4me3_subtracted.bed"
            publish_dir      = "peak_intersect/bedtools_subtract"
            publish_results  = "all"
        }
        'homer_annotate_peaks' {
            args             = "-gid"
            suffix           = ".annotated.txt"
            publish_dir      = "peak_intersect/homer"
            publish_results  = "all"
        }
        'homer_find_motifs' {
            args             = "-size 100 -mask"
            publish_dir      = "homer_find_motifs"
            publish_results  = "all"
        }
        'awk' {
            args             = /-F "\t" 'BEGIN{OFS="\t";} ($10 <-2000) || ($10 >1500) && ($8!~\/^exon.\/) {print $0}'/
            outfile_name     = ""
            publish_dir      = "awk"
            publish_results  = "all"
        }
        'add_genome_gfp' {
            publish_dir      = "add_genome_gfp"
            publish_results  = "all"
        }
        'add_gtf_gfp' {
            publish_dir      = "add_gtf_gfp"
            publish_results  = "all"
            strand           = "-"
        }
    }
}