#!/usr/bin/env nextflow

params {
    modules {
        'cutadapt' {
            args             = "-a CTGTCTCTTATA"
            suffix           = ".trimmed"
            publish_dir      = "scRNAseq_alignment/cutadapt"
            publish_results  = "none"
        }
        'samtools_sort' {
            args             = ""
            suffix           = ".bam"
            publish_dir      = "scRNAseq_alignment/samtools_sort"
            publish_results  = "none"
        }
        'samtools_view_a' {
            args             = "-b -h"
            suffix           = ".bam"
            publish_dir      = "scRNAseq_alignment/samtools_view_a"
            publish_results  = "none"

        }
        'samtools_view_b' {
            args             = "-b -h -F 4 -q 10"
            suffix           = ".filtered.bam"
            publish_dir      = "scRNAseq_alignment/samtools_view_b"
            publish_results  = "none"
        }
        'hisat2_splice_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "scRNAseq_alignment/hisat2"
            publish_results  = "none"
        }
        'hisat2_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "scRNAseq_alignment/hisat2"
            publish_results  = "none"
        }
        'add_genome_gfp' {
            publish_dir      = "add_genome_gfp"
            publish_results  = "all"
        }
        'add_gtf_gfp' {
            publish_dir      = "add_gtf_gfp"
            publish_results  = "all"
            strand           = "-"
        }
        'extract_gtf_annotations' {
            publish_dir      = "extract_gtf_annotations"
            publish_results  = "all"
        }
        'merge_counts' {
            publish_dir      = "scRNAseq_alignment/merged_counts"
            publish_results  = "all"
            script           = "$baseDir/bin/merge_counts.R"
        }
        'merge_smartseq_bulk' {
            publish_dir      = "merge_smartseq_bulk"
            publish_results  = "all"
            script           = "$baseDir/bin/merge_smartseq_bulk.R"
    }
}