#!/usr/bin/env nextflow

manifest {
  name = 'alexthiery/otic-reprogramming'
  author = 'Alex Thiery'
  homePage = 'https://github.com/alexthiery/otic-reprogramming/tree/dev/'
  description = 'Nextflow pipeline to run otic reprogramming pipeline'
  nextflowVersion = '20.07.1'
  mainScript = 'main.nf'
  defaultBranch = 'dev'
}

// Load params
params {
  verbose = false
}

// Load base.config by default for all pipelines
includeConfig "$baseDir/../configs/base.config"

// Load module default params
includeConfig "$baseDir/../luslab-nf-modules/configs/module-defaults.config"

// Load downstream analysis process params
includeConfig "$baseDir/../configs/downstream_analysis_process.config"